@font-face {
  font-family: "clock";
  src: url("./Digital\ Dismay.otf");
}
body {
  background-image: url(./sky_1600x290.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "clock";
}
.box {
  & h1 {
    font-size: 10vi;
    & span {
      font-family: "Times New Roman", Times, serif;
    }
  }
}

.box1 p {
  font-size: 2vi;
  font-weight: bold;
}
h2 {
  font-size: 2.8vi;
}
